In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns

from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

In [2]:
CRTOTAL = pd.read_csv(os.getcwd()+'\\CRTOTAL.csv')
TTRAFFICREMOVE_RF = pd.read_csv(os.getcwd()+'\\TTRAFFICREMOVE_RF.csv')
pd.set_option('display.max_rows', 110)
CRTOTAL.head()

,dicorridor,month,hour,corridor,precipitation,visibility,location,speedlimit,precipitation_root,visibility_root,precipitation_ln,visibility_ln,precipitation_inverse,visibility_inverse,precipitation_inverseroot,visibility_inverseroot,precipitation_expo,visibility_exp,speed
0,Altoona GreenEASTBOUND,5,10,Altoona Green,0.0,3.0,Altoona,65,0.0,1.732051,-inf,1.098612,inf,0.333333,inf,0.57735,1.0,20.085537,64.00
1,Altoona GreenEASTBOUND,5,10,Altoona Green,0.0,3.0,Altoona,65,0.0,1.732051,-inf,1.098612,inf,0.333333,inf,0.57735,1.0,20.085537,64.00
2,Altoona GreenEASTBOUND,5,10,Altoona Green,0.0,3.0,Altoona,65,0.0,1.732051,-inf,1.098612,inf,0.333333,inf,0.57735,1.0,20.085537,64.00
3,Altoona GreenEASTBOUND,5,10,Altoona Green,0.0,3.0,Altoona,65,0.0,1.732051,-inf,1.098612,inf,0.333333,inf,0.57735,1.0,20.085537,64.25
4,Altoona GreenEASTBOUND,5,10,Altoona Green,0.0,3.0,Altoona,65,0.0,1.732051,-inf,1.098612,inf,0.333333,inf,0.57735,1.0,20.085537,67.50

In [3]:
TTRAFFICREMOVE_RF.columns.values

array(['month', 'week', 'hour', 'direction', 'precipitation', 'visibility',
       'location', 'speedlimit', 'speed'], dtype=object)

In [4]:
CRTOTAL.columns.values

array(['dicorridor', 'month', 'hour', 'corridor', 'precipitation',
       'visibility', 'location', 'speedlimit', 'precipitation_root',
       'visibility_root', 'precipitation_ln', 'visibility_ln',
       'precipitation_inverse', 'visibility_inverse',
       'precipitation_inverseroot', 'visibility_inverseroot',
       'precipitation_expo', 'visibility_exp', 'speed'], dtype=object)

In [5]:
CRTOTALNON = CRTOTAL

In [6]:
month = pd.get_dummies(CRTOTAL.month)
hour = pd.get_dummies(CRTOTAL.hour)
speedlimit = pd.get_dummies(CRTOTAL.speedlimit)
dicorridor = pd.get_dummies(CRTOTAL.dicorridor)

CRTOTAL = CRTOTAL.drop(['dicorridor', 'month', 'hour', 'corridor',
       'location', 'speedlimit', 'precipitation_root',
       'visibility_root', 'precipitation_ln', 'visibility_ln',
       'precipitation_inverse', 'visibility_inverse',
       'precipitation_inverseroot', 'visibility_inverseroot',
       'precipitation_expo', 'visibility_exp'], axis=1)
CRTOTAL = pd.concat([month, hour, speedlimit, dicorridor, CRTOTAL], axis=1)
feature_names_CRTOTAL = ['May', 'Jun','Jul','Aug','Sep','Oct','10AM',
                         '11AM', '12PM', '13PM', '14PM', '15PM', '16PM',
                         '45mph', '50mph', '55mph', '65mph', '70mph',
       'Altoona GreenEASTBOUND', 'Altoona GreenWESTBOUND',
       'Altoona OrangeNORTHBOUND', 'Altoona OrangeSOUTHBOUND',
       'Lancaster BlueEASTBOUND', 'Lancaster BlueWESTBOUND',
       'Lancaster OrangeEASTBOUND', 'Lancaster OrangeWESTBOUND',
       'Meadville BlueNORTHBOUND', 'Meadville BlueSOUTHBOUND',
       'Meadville RedNORTHBOUND', 'Meadville RedSOUTHBOUND',
       'Pocono BlackEASTBOUND', 'Pocono BlackWESTBOUND',
       'Pocono BlueEASTBOUND', 'Pocono BlueWESTBOUND',
       'Williamsport BlueNORTHBOUND', 'Williamsport BlueSOUTHBOUND',
       'Williamsport GreenNORTHBOUND', 'Williamsport GreenSOUTHBOUND',
       'precipitation', 'visibility', 'speed']
CRTOTAL.columns = feature_names_CRTOTAL
CRTOTAL.head()

,May,Jun,Jul,Aug,Sep,Oct,10AM,11AM,12PM,13PM,...,Pocono BlackWESTBOUND,Pocono BlueEASTBOUND,Pocono BlueWESTBOUND,Williamsport BlueNORTHBOUND,Williamsport BlueSOUTHBOUND,Williamsport GreenNORTHBOUND,Williamsport GreenSOUTHBOUND,precipitation,visibility,speed
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.0,3.0,64.00
1,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.0,3.0,64.00
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.0,3.0,64.00
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.0,3.0,64.25
4,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.0,3.0,67.50

In [7]:
CRTOTAL.to_csv('CRTOTALpython.csv')

In [8]:
CRTOTALNON.columns.values

array(['dicorridor', 'month', 'hour', 'corridor', 'precipitation',
       'visibility', 'location', 'speedlimit', 'precipitation_root',
       'visibility_root', 'precipitation_ln', 'visibility_ln',
       'precipitation_inverse', 'visibility_inverse',
       'precipitation_inverseroot', 'visibility_inverseroot',
       'precipitation_expo', 'visibility_exp', 'speed'], dtype=object)

In [9]:
month = pd.get_dummies(CRTOTALNON.month)
hour = pd.get_dummies(CRTOTALNON.hour)
speedlimit = pd.get_dummies(CRTOTALNON.speedlimit)
dicorridor = pd.get_dummies(CRTOTALNON.dicorridor)

CRTOTALNON = CRTOTALNON.drop(['dicorridor', 'month', 'hour', 'corridor',
       'location', 'speedlimit', 'precipitation',
       'visibility_root', 'precipitation_ln', 'visibility_ln',
       'precipitation_inverse', 'visibility_inverse',
       'precipitation_inverseroot', 'visibility_inverseroot',
       'precipitation_expo', 'visibility_exp'], axis=1)
CRTOTALNON = pd.concat([month, hour, speedlimit, dicorridor, CRTOTALNON], axis=1)
feature_names_CRTOTALNON = ['May', 'Jun','Jul','Aug','Sep','Oct','10AM',
                         '11AM', '12PM', '13PM', '14PM', '15PM', '16PM',
                         '45mph', '50mph', '55mph', '65mph', '70mph',
       'Altoona GreenEASTBOUND', 'Altoona GreenWESTBOUND',
       'Altoona OrangeNORTHBOUND', 'Altoona OrangeSOUTHBOUND',
       'Lancaster BlueEASTBOUND', 'Lancaster BlueWESTBOUND',
       'Lancaster OrangeEASTBOUND', 'Lancaster OrangeWESTBOUND',
       'Meadville BlueNORTHBOUND', 'Meadville BlueSOUTHBOUND',
       'Meadville RedNORTHBOUND', 'Meadville RedSOUTHBOUND',
       'Pocono BlackEASTBOUND', 'Pocono BlackWESTBOUND',
       'Pocono BlueEASTBOUND', 'Pocono BlueWESTBOUND',
       'Williamsport BlueNORTHBOUND', 'Williamsport BlueSOUTHBOUND',
       'Williamsport GreenNORTHBOUND', 'Williamsport GreenSOUTHBOUND',
       'precipitation', 'visibility', 'speed']
CRTOTALNON.columns = feature_names_CRTOTAL
CRTOTALNON.head()

,May,Jun,Jul,Aug,Sep,Oct,10AM,11AM,12PM,13PM,...,Pocono BlackWESTBOUND,Pocono BlueEASTBOUND,Pocono BlueWESTBOUND,Williamsport BlueNORTHBOUND,Williamsport BlueSOUTHBOUND,Williamsport GreenNORTHBOUND,Williamsport GreenSOUTHBOUND,precipitation,visibility,speed
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,3.0,0.0,64.00
1,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,3.0,0.0,64.00
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,3.0,0.0,64.00
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,3.0,0.0,64.25
4,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,3.0,0.0,67.50

In [10]:
CRTOTALNON.to_csv('CRTOTALNONpython.csv')